/* ----- base styles ----*/
/* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
  */
body{
font-family: "Roboto", sans-serif;
color:#434455;
background-color: #FFFFFF;
  }
  ul,ol{
list-style-type: none;
margin: 0;
padding: 0;
  }
h1, h2, h3, h4, h5, h6, p{
  margin: 0;
}
  a{
    text-decoration: none;
  }
  .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container{
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.main-subtitle {
  font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}

.section-title {
font-weight: 700;
letter-spacing: 0.02em;
text-align: center;
}
  /* ------ header -------*/
  .page-header {
  border-bottom: 1px solid #e7e9fc;
  }
  .header-container {
    display: flex;
    align-items: center;
  }

.header-nav{
  display: flex;
  align-items: center;
}
.nav-list{
  display: flex;
  align-items: center;
  gap: 40px;
}
.contacts-list{
  display: flex;
  align-items: center;
  gap: 40px;
}
  .logo{
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
  }
.header-logo{
  padding: 24px 0;
  margin-right: 76px;
}
.header-logo .logo-part{
    color: #2e2f42;
}
.nav-link{
  padding: 24px 0;
  display: block;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
}
.contacts-link:hover,
.contacts-link:focus,
.nav-link:hover,
.nav-link:focus {
color: #404bbf;
}
.contacts {
    font-style: normal;
    margin-left: auto;
}
.contacts-link {
display: block;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
padding: 24px 0;
}

/* ----- hero section -----*/
.hero-section {
    background-color:#2E2F42;
    padding: 188px 0;
}
.hero-title {
font-size: 56px;
color: #fff;
width: 496px;
padding-bottom: 48px;
margin: 0 auto;
text-align: center;
line-height: 1.07;
}

.hero-button{
display: flex;
align-items: center;
justify-content: flex-start;
flex-direction: row;
gap: 10px;
border: none;
border-radius: 4px;
padding: 16px 32px;
width: 169px;
height: 56px;
white-space: nowrap;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
font-weight: 500;
font-size: 16px;
background: #4d5ae5;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
cursor: pointer;
margin: 0 auto;

}
.hero-button:focus,
.hero-button:hover{
background: #404bbf;
}
.hero-container{
  display: block;
  align-items: center;
}
/* ----- benefits section -----*/
.benefits-section {
  padding: 120px 0;
}
.features-context {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
width: calc(100%-72)/4;
}
.features-list{
  display: flex;
  align-items: center;
  gap: 24px;
}
.features-item{
  width : 264px;
}
.features-title{
  padding-bottom: 8px;
}
/*------ team section ------*/
.team-list{
  display: flex;
  align-items: center;
  gap: 24px;
}
.team-section {
background-color: #f4f4fd;
padding: 120px 0;
}
.team-title {
font-size: 36px;
color: #2e2f42;
padding-bottom: 72px;
line-height: 1.11;
}

.team-context {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
}
.team-item {
align-items: center;
justify-content: center;
flex-direction: column;
border-radius: 0 0 4px 4px;
padding: 0;
width: calc(100%-72)/4;
height: 380px;
box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
background: #fff;
}
.card-text{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
gap: 8px;
padding: 32px 16px;
}
 


/* ---- portfolio section ----*/
.portfolio-section{
  padding: 120px 0;
}
.portfolio-title {
font-size: 36px;
color: #2e2f42;
padding-bottom: 72px;
line-height: 1.11;

}

.portfolio-context {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.portfolio-list{
display: flex;
align-items: center;
row-gap: 48px;
column-gap: 24px;
width: 1128px;
flex-wrap: wrap;
}

.inside-portfolio{
display: flex;
align-items: flex-start;
justify-content: center;
flex-direction: column;
gap: 8px;
border-bottom: 1px solid #e7e9fc;
border-left: 1px solid #e7e9fc;
border-right: 1px solid #e7e9fc;
padding: 32px 16px;
width: 360px;
height: 120px;
}
.portfolio-photo{
  display: block;
}
.portfolio-item{
width: 360px;
height: 420px;
}


/* ------ footer section -----*/
.page-footer {
background-color: #2e2f42;
padding: 100px 0;
}
.footer-logo .logo-part {
display: inline-block;
padding-bottom: 16px;
color: #f4f4fd;}

.footer-context {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
width: 264px;
}



